header.geek_header{
    transition: top 0.2s ease-in-out;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0; left: 0;
     z-index: 20;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     padding-left: 20%;
     padding-bottom: 5%;
     /* border: 1px solid black; */
     color: var(--color-main);
   }

  header .geek_header_title{
    width: auto;
    height: 100px;
    /* border: 1px solid black;    */

    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  header .geek_header_title span:first-child{
    font-size: 30px;
    margin-bottom: 10px;

  }

  header .geek_header_title span:last-child{
    font-size: 25px;

  }